<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    name="viewport" />
  <meta name="viewport" content="width=device-width" />

  <!-- Favicon and title -->
  <link rel="icon" href="path/to/fav.png">
  <title>ZU-TUN | Ein ToDo App mit bessere Organisation Möglichkeiten</title>
  <meta name="description" content="Alle deine Aufgaben sind in einem Platz. Du
              kannst sie nach ihre Fristen sortieren oder mit einer Farbe etikettieren. Außerdem
              kannst du sie nach deiner benutzerdefinierten Ordner sammeln.">
  <meta name="Author" content="Kerem Zopcuk">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://metatags.io/">
  <meta property="og:title" content="ZU-TUN | Ein To-Do App mit bessere Organisation Möglichkeiten">
  <meta property="og:description"
    content="Alle deine Aufgaben sind in einem Platz. Du kannst sie nach ihre Fristen sortieren oder mit einer Farbe etikettieren. Außerdem kannst du sie nach deiner benutzerdefinierten Ordner sammeln.">
  <meta property="og:image"
    content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://metatags.io/">
  <meta property="twitter:title"
    content="ZU-TUN | Ein To-Do App mit bessere Organisation Möglichkeiten">
  <meta property="twitter:description"
    content="Alle deine Aufgaben sind in einem Platz. Du kannst sie nach ihre Fristen sortieren oder mit einer Farbe etikettieren. Außerdem kannst du sie nach deiner benutzerdefinierten Ordner sammeln.">
  <meta property="twitter:image"
    content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars"
  data-dm-shortcut-enabled="true" data-set-preferred-mode-onload="true">
  <!-- Modals go here -->
  <div class="page-wrapper d-flex flex-column">
    <!-- Page wrapper start -->
    <div class="content-wrapper">
      <!-- Content wrapper start -->

      <!-- Header -->
      <header id="header">
        <div id="jumbo-section"
          class="d-flex flex-column align-items-center justify-content-center">
          <div id="jumbo-title-wrapper">
            <h1 class="font-weight-bold jumbo-title">
              Schreib alles auf,
            </h1>
            <h1 class="font-weight-bold jumbo-title">
              was du erinnern solltest.
            </h1>
          </div>
          <div id="jumbo-subhead-wrapper">
            <p id="jumbo-subhead" class="text-center">Alle deine Aufgaben sind in einem Platz. Du
              kannst sie nach ihre Fristen sortieren oder mit einer Farbe etikettieren. Außerdem
              kannst du sie nach deiner benutzerdefinierten Ordner sammeln.</p>
          </div>

          <div id="loslegen-button-wrapper" class="mb-20">
            <button id="loslegen-button" class="btn btn-lg btn-primary m-auto" type="button">Mit
              Google-Konto
              Loslegen!</button>
          </div>
        </div>
      </header>
      <!-- Ende der Jumbo Header section -->
      <div id="jumbo-image-wrapper">
      </div>
      <div class="card">
        <h2 class="card-title">
          Deine Aufgaben sind überall erreichbar
        </h2>
        <p>
          Du kannst deine Aufgaben überall aufrufen, dafür brauchst du nur dein Google-Konto. Wenn
          du einmal einloggst, kannst du dir ein Zu Tun Konto automatisch eröffnen.
        </p>
      </div>

      <div class="card">
        <h2 class="card-title text-right">
          Farben stehen zur Verfügung
        </h2>
        <p class="text-right">
          Du kannst deine Aufgaben mit blau, braun, gruen, orange, rosa, violett, rot, gelb und cyan
          farbigen. So kannst du besser merken, welche Aufgabe ist wichtig, welche ist wichtiger.
        </p>
      </div>

      <div class="card">
        <h2 class="card-title">
          Mit Ordnern bist du ordentlicher
        </h2>
        <p>
          Neben den Farben kannst du ja deine Liste bzw. Ordnern selber krieren und sie auf einem
          Blick sehen. Du kannst dann diese Ordner auch löschen. Mach dir baer keine Sorge, deine
          Aufgaben bleiben bei dir, solange du sie selber löschst.
        </p>
      </div>
      <!-- Ende der Main Wrapper -->
      <footer id="footer">
        <p id="footer-text" class="text-center">Diese Webseite wurde von
          <a href="https://github.com/m0xai">Kerem Zopcuk</a> während das Lernens der Web
          Entwicklung erstellt. Bitte teilen Sie keine persönliche Dateien.
        </p>
      </footer>
    </div>
    <!-- Content wrapper end -->
  </div>
  <!-- Page wrapper end -->
  </div>

  <!-- Halfmoon JS -->
  <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
</body>

</html>