@import 'halfmoon/css/halfmoon-variables.min.css';
@import './helpers.css';

@media (max-width: 768px) {
  .card-title {
    font-size: 16px;
    font-weight: normal;
  }

  .dinge-kopf-rechts {
    margin-left: 10px;
  }

  .zeit-punkt span {
    font-size: 12px;
  }
}

.sidebar-farbe::before {
  display: inline-block;
  content: '';
  margin-right: 5px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

[data-tag-color='gruen']::before {
  background-color: var(--gruen);
}
[data-tag-color='rot']::before {
  background-color: var(--rot);
}
[data-tag-color='gelb']::before {
  background-color: var(--gelb);
}
[data-tag-color='blau']::before {
  background-color: var(--blau);
}
[data-tag-color='orange']::before {
  background-color: var(--orange);
}
[data-tag-color='violett']::before {
  background-color: var(--violett);
}
[data-tag-color='braun']::before {
  background-color: var(--braun);
}
[data-tag-color='rosa']::before {
  background-color: var(--rosa);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  display: inline-block;
  width: 5px;
  height: 100%;
  border-radius: 4px 0 0 4px;
  margin-left: -15px;
  background-color: var(--transparent);
}

.zeit-punkt span {
  color: var(--light-gray);
}

#completed-wrapper {
  margin-bottom: -20px;
}
