:root {
  --blue: rgb(0, 122, 255);
  --brown: rgb(162, 132, 94);
  --green: rgb(52, 199, 89);
  --orange: rgb(255, 149, 0);
  --pink: rgb(255, 45, 85);
  --purple: rgb(175, 82, 222);
  --red: rgb(255, 59, 48);
  --yellow: rgb(255, 204, 0);
  --cyan: rgb(50, 173, 230);
  --light-gray: #696969;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content-wrapper {
  padding: 30px;
}

button {
  display: flex !important;
  align-items: center;
}

@media (max-width: 768px) {
  .card-title {
    font-size: 16px;
    font-weight: normal;
  }

  .dinge-kopf-rechts {
    margin-left: 10px;
  }

  .zeit-punkt span {
    font-size: 12px;
  }
}

.sidebar-farbe::before {
  display: inline-block;
  content: '';
  margin-right: 5px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

[data-tag-color='gruen']::before {
  background-color: var(--green);
}
[data-tag-color='rot']::before {
  background-color: var(--red);
}
[data-tag-color='gelb']::before {
  background-color: var(--yellow);
}
[data-tag-color='blau']::before {
  background-color: var(--blue);
}
[data-tag-color='orange']::before {
  background-color: var(--orange);
}
[data-tag-color='violett']::before {
  background-color: var(--purple);
}
[data-tag-color='braun']::before {
  background-color: var(--brown);
}
[data-tag-color='rosa']::before {
  background-color: var(--pink);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  display: inline-block;
  width: 5px;
  height: 100%;
  border-radius: 4px 0 0 4px;
  margin-left: -15px;
  background-color: red;
}

.zeit-punkt span {
  color: var(--light-gray);
}
